<a href="https://colab.research.google.com/github/rajusandrapati/Credit-Card-Fraud-Detection/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # 1. SELECT snum, sname, city, comm FROM salespeople;

In [ ]:
# 2. SELECT DISTINCT snum FROM orders;

In [ ]:
# 3. SELECT sname, comm FROM salespeople WHERE city = 'London';

In [ ]:
# 4. SELECT * FROM customers WHERE rating = 100;

In [ ]:
# 5. SELECT orderno, amount, order_date FROM orders;

In [ ]:
# 6. SELECT * FROM customers WHERE city = 'San Jose' AND rating > 200;

In [ ]:
# 7. SELECT * FROM customers WHERE city = 'San Jose' OR rating > 200;

In [ ]:
# 8. SELECT * FROM orders WHERE amount > 1000;

In [ ]:
# 9. SELECT sname, city FROM salespeople WHERE city = 'London' AND comm > 0.10;

In [ ]:
# 10. SELECT * FROM customers WHERE rating > 100 OR city = 'Rome';

In [ ]:
# 11. SELECT * FROM salespeople WHERE city = 'Barcelona' OR city = 'London';

In [ ]:
# 12. SELECT * FROM salespeople WHERE comm > 0.10 AND comm < 0.12;

In [ ]:
# 13. SELECT * FROM customers WHERE city IS NULL;

In [ ]:
# 14. SELECT * FROM orders WHERE order_date IN ('1994-10-03', '1994-10-04');

In [ ]:
# 15. SELECT * FROM customers WHERE snum IN (SELECT snum FROM salespeople WHERE sname IN ('Peel', 'Motika'));

In [ ]:
# 16. SELECT * FROM customers WHERE cname LIKE '[A-B]%';

In [ ]:
# 17.SELECT * FROM orders WHERE amount > 0;

In [ ]:
# 18. SELECT COUNT(DISTINCT snum) FROM orders;

In [ ]:
# 19.SELECT snum, MAX(amount) AS max_order, order_date
# FROM orders
# GROUP BY snum, order_date;

In [ ]:
# 20. SELECT snum, MAX(amount) AS max_order
# FROM orders
# WHERE amount > 3000
# GROUP BY snum;

In [ ]:
# 21. SELECT order_date, SUM(amount) AS total_amount
# FROM orders
# GROUP BY order_date
# ORDER BY total_amount DESC
# LIMIT 1;

In [ ]:
# 22.SELECT COUNT(DISTINCT city) FROM customers WHERE city IS NOT NULL;

In [ ]:
# 24.SELECT cnum, MIN(amount) AS smallest_order
# FROM orders
# GROUP BY cnum;

In [ ]:
# 25.SELECT * FROM customers WHERE cname LIKE 'G%' ORDER BY cname ASC LIMIT 1;

In [ ]:
#26.SELECT DATE_FORMAT(order_date, '%d/%m/%y') AS order_date, COUNT(*) AS order_count
# FROM orders
# GROUP BY order_date;

In [ ]:
# 27.SELECT orderno, snum, amount * 0.12 AS commission
FROM orders;

In [ ]:
# 28.SELECT city, MAX(rating) AS highest_rating
# FROM customers
# GROUP BY city;

In [ ]:
# 29.SELECT order_date, SUM(amount) AS total_amount
# FROM orders
# GROUP BY order_date
# ORDER BY total_amount DESC;

In [ ]:
# 30.SELECT s.sname AS salesperson, c.cname AS customer
# FROM salespeople s, customers c
# WHERE s.city = c.city;

In [ ]:
# 31. SELECT c.cname, s.sname
# FROM customers c, salespeople s
# WHERE c.snum = s.snum;

In [ ]:
# .32. SELECT o.orderno, c.cname
# FROM orders o, customers c
# WHERE o.cnum = c.cnum;

In [ ]:
# 33. SELECT o.orderno, s.sname, c.cname
# FROM orders o
# JOIN salespeople s ON o.snum = s.snum
# JOIN customers c ON o.cnum = c.cnum;

In [ ]:
# 34. SELECT c.cname
# FROM customers c, salespeople s
# WHERE c.snum = s.snum AND s.comm > 0.12;

In [ ]:
# # 35.SELECT o.orderno, o.amount * 0.12 AS commission
# FROM orders o
# JOIN customers c ON o.cnum = c.cnum
# WHERE c.rating > 100;

In [ ]:
# 36.SELECT c1.cname, c2.cname
# FROM customers c1, customers c2
# WHERE c1.rating = c2.rating AND c1.cnum < c2.cnum;

In [ ]:
# 37. SELECT c.cname, s.sname
# FROM customers c, salespeople s
# WHERE (SELECT COUNT(*) FROM salespeople) >= 3;

In [ ]:
# 38. SELECT * FROM customers
# WHERE city IN (SELECT city FROM customers WHERE snum = (SELECT snum FROM salespeople WHERE sname = 'Serres'));

In [ ]:
# 39.SELECT c1.cname, c2.cname
# FROM customers c1, customers c2
# WHERE c1.snum = c2.snum AND c1.cnum < c2.cnum;

In [ ]:
# 40. SELECT s1.sname, s2.sname
# FROM salespeople s1, salespeople s2
# WHERE s1.city = s2.city AND s1.snum < s2.snum;